* {
    font-family: 'Poppins', sans-serif;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 5px;
    background: black;
    box-shadow: 0 0 20px 3px black
}

.header .room {
    padding-right: 10px;
}

.header div {
    border: 0;
    margin: 0;
    padding-left: 10px;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
}

.header img {
    width: 3rem;
    height: auto;
}

.header p {
    color: white;
    font-family: 'positivefor';
    text-align: center;
    font-size: 1.5rem;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    padding: 10px;
}

.note img {
    width: 70vw;
    height: auto;
    margin-bottom: 10px;
}

.commission {
    margin-left: -1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.commission p {
    margin-bottom: 0.5rem;
    align-self: center;
}

.commission img {
    width: 20px;
    height: auto;
    padding-left: 2rem;
    padding-right: 0.2rem;
}

.titleSect {
    background: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.subjects {
    display: grid;
    gap: 8px;
    margin: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}

.section h2 {
    align-self: center;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 10px;
}

.tasks {
    border-radius: 1rem;
    padding: 0;
    outline: 0.2rem solid black;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.tasks h3 {
    margin: 0;
    border-top-right-radius: 1rem ;
    border-top-left-radius: 1rem ;
    padding: 0.5rem;
    color: white;
    background: burlywood
}

.tasks p {
    margin: 0.5rem;
    margin-left: 1rem;
    font-size: 18px;
    font-weight: bold;
}

footer {
    background: black;
    color: white;
    text-align: center;
    align-self: center;
    padding: 10px;
}

.answer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.answer p {
    margin: 0.5rem;
    box-shadow: 3px 3px 0px 2px rgba(0, 0, 0, 0.8);
    padding-left: 6.2px;
    padding-right: 6.2px;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #1264B5;
    border-radius: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    outline: 2px solid black;
}
